@model lab2.Models.IContract

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowAllContracts</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Insert")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.realtyid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.realtorid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fare_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sign_date)
            </th>
            <th></th>
        </tr>

        @{
            var start = Request.QueryString["start"];
            var end = Request.QueryString["end"];

            if (start == null && end == null)
            {
                start = "01.01.1990";
                end = DateTime.Now.ToString("dd.MM.yyyy");
            }

            DateTime start1;
            DateTime end1;

            DateTime.TryParseExact(start, "dd.MM.yyyy", null, System.Globalization.DateTimeStyles.None, out start1);
            DateTime.TryParseExact(end, "dd.MM.yyyy", null, System.Globalization.DateTimeStyles.None, out end1);
        }

        <!--
    <p>Значение параметра id: @start1</p>
    <p>Значение параметра id: @end1</p>
    -->

        @{
            int totalTerm = 0;
            foreach (var item in Model.ShowAllContracts.Where(c => DateTime.TryParseExact(c.sign_date, "dd.MM.yyyy", null, System.Globalization.DateTimeStyles.None, out DateTime signDate) && signDate >= start1 && signDate <= end1))
            {
                totalTerm += item.term;
            }
        }

        @foreach (var item in Model.ShowAllContracts.Where(c => DateTime.TryParseExact(c.sign_date, "dd.MM.yyyy", null, System.Globalization.DateTimeStyles.None, out DateTime signDate) && signDate >= start1 && signDate <= end1))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.realtyid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.realtorid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fare_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.term)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sign_date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.contract_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.contract_id })
                </td>
            </tr>
        }

        <tr>
            <td colspan="2"></td>
            <td>
                <b>
                    <i>
                        Total term:
                    </i>
                </b>
            </td>
            <td>
                <b>
                    <i>
                        @totalTerm
                    </i>
                </b>
            </td>
        </tr>
    </table>
</body>
</html>
